<div class="container pt-2">
	<div class="row">
		<div class="col">
			<div class="title-container">
				Titre
			</div>
			<div class="content-container">
				<input class="form-control" [(ngModel)]="page.titre">
			</div>
		</div>
	</div>

	<h2>Paragraphes</h2>
	<div class="row" *ngFor="let contenu of page.contenu; index as i">
		<!-- <quill-editor></quill-editor> -->
		<div>
			<div *ngIf="contenu.type === 'text'">
				<div class="app-container">
					<div class="title-container">
						Texte
					</div>
					<div class="content-container">
						<div class="container">
							<div class="row">
								<div class="col">
									<app-page-editeur-page [page]="page" [index]="i"
										[contenu]="contenu"></app-page-editeur-page>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col">
									<label for="">Contenu</label>
									<quill-editor [(ngModel)]="contenu.contenu"></quill-editor>
								</div>
							</div>
						</div>


					</div>
				</div>
			</div>

			<div *ngIf="contenu.type === 'separator'">
				<div class="app-container">
					<div class="title-container">
						Separateur
					</div>
					<div class="content-container">
						<div class="container">
							<div class="row">
								<div class="col">
									<app-page-editeur-page [page]="page" [index]="i"
										[contenu]="contenu"></app-page-editeur-page>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

			<div *ngIf="contenu.type === 'textimage'">
				<div class="title-container">
					Texte + image
				</div>
				<div class="content-container">
					<div class="container">
						<div class="row">
							<div class="col">
								<app-page-editeur-page [page]="page" [index]="i"
									[contenu]="contenu"></app-page-editeur-page>
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col">
								<label for="">Contenu</label>
								<quill-editor [(ngModel)]="contenu.contenu"></quill-editor>
							</div>
							<div class="col">
								<label for="image">URL Image</label>
								<input class="form-control" [(ngModel)]="contenu.image">
							</div>
						</div>




					</div>
				</div>
			</div>

			<div *ngIf="contenu.type === 'images'">
				<div class="title-container">
					Images
				</div>
				<div class="content-container">
					<div class="container">
						<div class="row">
							<div class="col">
								<app-page-editeur-page [page]="page" [index]="i"
									[contenu]="contenu"></app-page-editeur-page>
							</div>
						</div>
						<hr>

						<div class="row" *ngFor="let image of contenu.images">
							<div class="col-md-10">
								<label for="image">URL Image</label>
								<input class="form-control" [(ngModel)]="image.src">
							</div>
							<div class="col-md-2">
								<button class="btn btn-danger" (click)="supprimerLien(contenu, image)">X</button>
							</div>
						</div>
						<div class="row pt-2">
							<div class="col-md-3">
								<button class="btn btn-primary" (click)="ajouterUneImage(contenu)">Ajouter une
									image</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="title-container">
			Ajouter un paragraphe

		</div>
		<div class="content-container">
			<select class="form-select" [(ngModel)]="typePageAAjouter">
				<option *ngFor="let type of types" [ngValue]="type.value">{{type.name}}</option>
			</select>
			<button class="btn btn-primary" (click)="ajouterUnParagraphe()">Ajouter un paragraphe</button>
		</div>

	</div>
</div>