<div [innerHTML]="page.titre"></div>

<div *ngFor="let contenu of page.contenu">

	<div class="container">

		<div *ngIf="contenu.type === 'text'">
			<div [innerHTML]="contenu.contenu"></div>
		</div>
		<div *ngIf="contenu.type === 'separator'">
			<hr>
		</div>
		<div *ngIf="contenu.type === 'textimage'">
			<div class="container">
				<div class="row">
					<div class="col">

						<div [innerHTML]="contenu.contenu"></div>
					</div>
					<div class="col">
						<img [src]="contenu.image" alt="Girl in a jacket" width="100%">
					</div>
				</div>
			</div>
		</div>
		<div *ngIf="contenu.type === 'images'">
			<div class="container">
				<div class="row">
					<div class="col" *ngFor="let image of contenu.images">
						<img [src]="image.src" alt="Girl in a jacket" width="100%">
					</div>
				</div>
			</div>
		</div>
		<div *ngIf="contenu.type === 'imagetext'">
			<div class="container">
				<div class="row">
					<div class="col">

						<div [innerHTML]="contenu.contenu"></div>
					</div>
					<div class="col">
						<img [src]="contenu.image" alt="Girl in a jacket" width="100%">
					</div>
				</div>
			</div>
		</div>

	</div>


</div>