<div class="container mt-5">
	<h2>Alerts</h2>

	<a target="_blank"
		href="https://5hcn4pq2re.execute-api.ca-central-1.amazonaws.com/default/communautoAlertTraitement">Lancer le
		traitement</a>


	<!-- Display list of items -->
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Name</th>
				<th>Start Date</th>
				<th>End Date</th>
				<th>Address</th>
				<th>Status</th>
				<th>Is Active</th>
				<th>Details</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let item of items">
				<td>{{ item.name }}</td>
				<td>{{ item.date_debut | dateFormatPipe }}</td>
				<td>{{ item.date_fin | dateFormatPipe }}</td>
				<td>{{ item.address_name }}
					<br>
					<strong>Localistation : </strong>
					{{ item.latitude }}/{{ item.longitude }}
					<br>
					<a target="_blank" [title]="item.address_name"
						href="{{'https://www.google.com/maps/@' + item.latitude + ',' + item.longitude + ',15.25z?entry=ttu&g_ep=EgoyMDI1MDIxOS4xIKXMDSoASAFQAw%3D%3D'}}">Maps
						<i class="bi bi-box-arrow-up-right"></i></a>

				</td>
				<td>
					<span [ngClass]="getStatusClass(item.status)" class="badge">
						{{ item.status }}
					</span>
				</td>
				<td>
					<span [ngClass]="item.is_actif ? 'badge bg-success' : 'badge bg-danger'">
						{{ item.is_actif ? 'Active' : 'Inactive' }}
					</span>
				</td>
				<td>
					<button class="btn btn-info" (click)="viewDetails(item)">View Details</button>
				</td>
				<td>
					<button class="btn btn-warning" (click)="editItem(item)">Edit</button>
					<button class="btn btn-danger" (click)="deleteItem(item)">Delete</button>
				</td>
			</tr>
		</tbody>
	</table>

	<!-- Modal for viewing details -->
	<div *ngIf="selectedItem" class="modal fade show" style="display: block;" tabindex="-1" role="dialog"
		aria-labelledby="detailsModal" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Details for {{ selectedItem.name }}</h5>
				</div>
				<div class="modal-body">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>Station</th>
								<th>Result</th>
								<th>Adresse</th>
								<th>Detail / Station</th>
							</tr>
						</thead>

						<tbody>
							<tr *ngFor="let detail of selectedItem.details">
								<td>{{ detail.station_name }}</td>
								<td [ngClass]="getResultClass(detail.result)" class="badge">{{ detail.result }}</td>
								<td>{{ detail.latitude }}/{{ detail.longitude }} <a target="_blank"
										href="{{'https://www.google.com/maps/@' + detail.latitude + ',' + detail.longitude + ',15.25z?entry=ttu&g_ep=EgoyMDI1MDIxOS4xIKXMDSoASAFQAw%3D%3D'}}">Maps
										<i class="bi bi-box-arrow-up-right"></i></a>
								</td>
								<td>{{ detail.station_name }}</td>


							</tr>

						</tbody>
					</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" (click)="closeDetails()">Close</button>
				</div>
			</div>
		</div>
	</div>
</div>