<div class="admin-menu-contaniner">
	<div class="app-container">
		<div class="title-container">
			Menu d’administration
		</div>

		<div class="content-container">

			<li class="admin-menu-list">
				<a class="nav-link" routerLink="/admin/users">Users</a>
				<hr class="my-1" />
			</li>
			<li class="admin-menu-list">
				<a class="nav-link" routerLink="/admin/role">Roles</a>
				<hr class="my-1" />
			</li>
			<li class="admin-menu-list">
				<a class="nav-link" routerLink="/admin/dynamicContent">Dynamic Content</a>
				<hr class="my-1" />
			</li>
			<li class="admin-menu-list">
				<a class="nav-link" routerLink="/admin/blog">Blogs</a>
				<hr class="my-1" />
			</li>
		</div>
	</div>
</div>